<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>, a game designed by Miguel Sánchez Martín y José María Carmona Pérez</p>
    <img src="images/Miguel.jpg" width="440" height="440" alt="Foto de Miguel" />
  </body>
</html>