<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<nav>
<ul>
    <li><a href="/">Inicio</a></li>  
</ul>
</nav>
    <h1><%= title %></h1>
    <p>Bienvenido a <%= title %>, un juego diseñado por Miguel Sánchez Martín</p>
    <img src="images/Miguel.jpg" width="440" height="440" alt="Foto de Miguel" />
  </body>
    <footer><a href="https://github.com/miguelsmartin/quiz">Repositorio GitHub de quiz</a></footer>

</html>