
    <p><a href="/quizzes"> Comience a jugar. </a></p>
   <p>
    <form method="get" action="/quizzes/">        
     <p>Busque su pregunta</p>

    <p>
      <input type="text" name="search" value="Search" placeholder="Búsqueda" />
      <input type="submit" value="Buscar">
    </p>
