<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<nav>
<ul>
    <li><a href="/author">Créditos</a></li>  
</ul>
</nav>
    <h1><%= title %></h1>
    <h2>Bienvenido a <%= title %> , el juego de las preguntas.</h2>
    <p><a href="/question"> Comience a jugar. </a></p>
  </body>
  <footer><a href="https://github.com/miguelsmartin/quiz">Repositorio GitHub de quiz</a></footer>
</html>
