<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<nav>
<ul>
    <li><a href="/author">Créditos</a></li> 
    <li><a href="/quizzes">Preguntas</a></li> 
    <li><a href="/quizzes/new">Crear Pregunta</a></li>    
</ul>
</nav>
    <h1>Quiz</h1>
    <h2>Bienvenido a Quiz , el juego de las preguntas.</h2>
    <p><a href="/quizzes"> Comience a jugar. </a></p>
    <table>
  <% for(var i in quizzes){ %>
    <tr>
      <td>
        <a href="/quizzes/<%= quizzes[i].id %>"><%= quizzes[i].question %></a>
      </td>
    </tr>
  <% } %>
</table>
  </body>
  <footer><a href="https://github.com/miguelsmartin/quiz">Repositorio GitHub de quiz</a></footer>
</html>
