<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
<ul>
    <li><a href="/">Inicio</a></li>  
</ul>
</nav>
    <h1>Quiz</h1>
    <h2>Quiz, el juego de las preguntas</h2>
    <p> La respuesta es <%= result %> </p>
    <p> <a href = "/question"> Intenteló otra vez </a></p>
  </body>
    <footer><a href="https://github.com/miguelsmartin/quiz">Repositorio GitHub de quiz</a></footer>

</html>